<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.php" />
            </files>
        </defaultDocument>
        <!-- <rewrite>
            <rules>
                <rule name="LandingVuelo" stopProcessing="true">
                    <match url="^AgregaLibro/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="AgregaLibro.php?origen={R:1}&amp;destino={R:2}" appendQueryString="false" />
                </rule>
            </rules>
           </rewrite> -->
     <!-- <rewrite>
	    <rules>
	      <rule name="SpecificRedirect" stopProcessing="true">
	        <match url="^AgregaLibro.php$" />
	        <conditions logicalGrouping="MatchAll">
	          <add input="{QUERY_STRING}" pattern="(?:id)=(\d{2})" />
	        </conditions>
	        <action type="Redirect" url="/newpage/{C:1}" appendQueryString="false" redirectType="Permanent" />
	      </rule>
	    </rules>
	  </rewrite> -->
    </system.webServer>
</configuration>
